

th {
	font-size: 13px !important;
	margin: 0px !important;
	
}
.garis {
	letter-spacing: 2px;
}
.divitem {
	margin-top: 0px;
	height:510px;
}

.divfak {
	margin-top: 0px;
	height:403px;
}

.text {
	font-size: 16px !important;
	height: 19px;
	margin: 0px !important;
	font-weight: normal !important;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"; 
}
.text2 {
	font-size: 13px !important;
	margin: 0px !important;
	font-weight: normal !important;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"; 
}
.text3 {
	font-size: 12px !important;
	margin: 0px !important;
	font-weight: normal !important;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"; 
}
.titlehead{
	font-size: 14px !important;
	margin: 0px !important;
	font-weight: lighter !important;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"; 
}
.title2 {
	font-size: 1.4em !important;
	margin: 0px !important;
	font-weight: normal!important;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"; 
	letter-spacing: 3px;
	line-height: 0px; 
}
h1 {
	font-size: 1.8em !important;
	margin: 0px !important;
	font-weight: normal!important;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"; 
	letter-spacing: 3px;
	line-height: 0px; 
}
h3 {
	font-size: 22px !important;
	font-weight: bold;
}
h5{
	margin: 0px !important;
	font-weight: normal!important;
	font-family: sans-serif; 
	letter-spacing: 0px;
	line-height: 0px; 
	font-weight: bold;
}
thead th {
	padding: 0px !important;
}

@page {
	size: a4;
}
